
  <h2 style="font-family: {{ section.settings.font_family }};">
    {{ section.settings.header_title }}
  </h2>



  {% schema %}
{
  "name": "Gradient Header Basic",
  "settings": [
    {
      "type": "text",
      "label": "Header Title",
      "id": "header_title",
      "default": "Your Title Here"
    },
  
    {
      "type": "font_picker",
      "label": "Font Family",
      "id": "font_family",
      "default": "sans-serif"
    }
  ],
  "presets": [
    {
      "name": "Custom Gradient Header Basic",
      "category": "Custom"
    }
  ]
}

{% endschema %}