<h1>Hello World!</h1>

{% schema %}
  {
    "name": "Jays Custom Section",
    "settings": [],
    "presets": [{"name": "Default custom section"}],
    "tag": "header"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}