<h1>{{ section.settings.text }}</h1>

{% schema %}
  {
    "name": "Jays Custom Section",
    "settings": [
      {
        "type":"text",
        "id": "text",
        "label": "Text Input"
      }
    ],
    "presets": [{"name": "Default custom section"}],
    "tag": "header",
    "class": "custom-section",
    "limit": 1
  }



  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}