<h1>Product Slider Test</h1>

{% schema %}
  {
    "name": "Product Slider",
    "settings": [],
    "presets": [
        {
        "name":"Product Slider"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}