<div class="basic-section">
  <h2>Welcome to our Shopify Store!</h2>
  <p>This is a super basic Shopify section.</p>
</div>

{% schema %}

{
    "name": "Basic Section",
    "class": "basic-section",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Is this working?",
        "category": "Custom"
      }
    ]
  }

  {% endschema %}