<div> {{ section.settings.rich_text }}</div>


<h2>Number Settting:</h2>
<p>{{ section.settings.number_setting }}</p>

<h2>Range Settting:</h2>
<p>{{ section.settings.range_setting }}</p>


{% schema %}
  {
    "name": "Sections Tutorial",
    "settings": [
      {
        "type": "richtext",  
        "id": "rich_text",
        "label": "Rich Text"
      },
      {
        "type": "number",  
        "id": "number_setting",
        "label": "Number Setting",
        "placeholder": "This is the placeholder"
        
      }, 
      {
        "type": "range",  
        "id": "range_setting",
        "label": "Range Setting",
        "min": 0,
        "max": 150,
        "step": 2, 
        "default": 12,
        "unit": "px"
      }, 
      {
        "type": "select",  
        "id": "select_setting",
        "label": "Select Setting",
        "options": [
          {
            "value": "value-1", 
            "label": "Value 1"
          },
          {
            "value": "value-2", 
            "label": "Value 2"
          },
          {
            "value": "value-3", 
            "label": "Value 3"
          }
        ]
      }
    ], 
    "presets": [
      {
        "name": "Sections Tutorial",
        "settings": {}
      }
    ]
  }
{% endschema %}