<div class="custom-heading-section">
    
  <h1 style="font-family:{{ section.settings.heading_font }};">
    {{ section.settings.heading_text }}
  </h1>

</div>

{% schema %} 

{
    "name": "Custom Heading Section",
    "class": "custom-heading-section",
    "settings": [
      {
        "type": "text",
        "label": "Heading Text",
        "id": "heading_text",
        "default": "Your Custom Heading"
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font",
        "default": "helvetica_n4"
      }
    ],

    "presets": [
      {
        "name": "Custom Heading",
        "category": "Custom"
      }
    ]
    
  }
  
  {% endschema %} 