.banner__box {
  color: black; 
  border-radius: 40px;
}

#ProductSubmitButton-template--16170481746077__main {
  color: red;
}

.product-form__submit button--full-width button--secondary{
  color: green;
  background-color: red;
}